# .coveragerc to control coverage.py
[run]
concurrency=thread,greenlet

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't cover raising errors:
    raise .*

    # Don't complain if tests don't cover error handling:
    except .*

    # Don't complain if logging error message:
    logger.error*
