*.DS_Store*
*.egg-info/
dist/
venv/
build/
docs/source/apiref
docs/source/_misc
docs/source/release_notes.rst
docs/source/tutorials
docs/source/_static/drawio
docs/source/drawio_src/**/export
*__pycache__*
*.idea/*
.idea/*
*.pyc
.pytest_cache/*
.mypy_cache
modules/*
dm_pickle*
dialogue_manager*
GlobalUserTableAccessor*
memory_debugging*
opening_database*
_globals.py
venv*
.vscode
.coverage
.coverage.*
.pytest_cache
htmlcov
tutorials/context_storages/dbs
dbs
benchmarks
benchmark_results_files.json
uploaded_benchmarks
