*.DS_Store*
*.egg-info/
dist/
venv/
build/
docs/source/apiref
docs/source/examples
*__pycache__*
*.idea/*
.idea/*
*.pyc
.pytest_cache/*
.mypy_cache
modules/*
dm_pickle*
dialogue_manager*
GlobalUserTableAccessor*
memory_debugging*
opening_database*
_globals.py
venv*
.vscode
.coverage
.pytest_cache
htmlcov
examples/context_storages/dbs
