*.DS_Store*
*.egg-info/
dist/
venv/
build/
*__pycache__*
*.idea/*
.idea/*
*.pyc
.pytest_cache/*
df_engine/data
df_engine/state_transition_dialogue_manager/data/count_1w.txt
df_engine/state_transition_dialogue_manager/data/count_2w.txt
df_engine/scratch
modules/*
dm_pickle*
dialogue_manager*
GlobalUserTableAccessor*
memory_debugging*
opening_database*
df_engine/modules/emora
_globals.py
venv*
.vscode
.coverage
.pytest_cache
htmlcov