version: "3.9"
services:
  mysql:
    env_file: [.env_file]
    image: mysql:latest
    restart: unless-stopped
    ports:
      - 3307:3306
  psql:
    env_file: [.env_file]
    image: postgres:latest
    restart: unless-stopped
    ports:
      - 5432:5432
  redis:
    env_file: [.env_file]
    image: redis:latest
    restart: unless-stopped
    command: --requirepass pass
    ports:
      - 6379:6379
  mongo:
    env_file: [.env_file]
    image: mongo:latest
    restart: unless-stopped
    ports:
      - 27017:27017
  ydb:
    env_file: [.env_file]
    image: cr.yandex/yc/yandex-docker-local-ydb:latest
    restart: unless-stopped
    ports:
      - 8765:8765
      # - 2135:2135
      - 2136:2136
    hostname: localhost
  dashboard:
    env_file: [.env_file]
    build:
      context: ./dff/utils/docker
      dockerfile: dockerfile_stats
    image: ghcr.io/deeppavlov/superset_df_dashboard:latest
    ports:
      - "8088:8088"
  clickhouse:
    env_file: [.env_file]
    image: clickhouse/clickhouse-server:latest
    restart: unless-stopped
    ports:
      - '8123:8123'
      - '8443:8443'
      - '9000:9000'
  otelcol:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-col
    restart: unless-stopped
    command: [ "--config=/etc/otelcol-config.yml", "--config=/etc/otelcol-config-extras.yml" ]
    volumes:
      - ./dff/utils/otel/otelcol-config.yml:/etc/otelcol-config.yml
      - ./dff/utils/otel/otelcol-config-extras.yml:/etc/otelcol-config-extras.yml
    ports:
      - "4317:4317"    # OTLP over gRPC receiver
      - "4318:4318"    # OTLP over HTTP receiver