include CONTRIBUTING.md
include LICENSE
include README.md
graft dff/config/superset_dashboard
include dff/context_storages/protocols.json

exclude makefile

recursive-exclude tests *
recursive-exclude tutorials *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude docs *.rst makefile
