include CONTRIBUTING.md
include LICENSE
include README.md
include dff/connectors/db/protocols.json
graft dff/config/superset_dashboard

exclude makefile

recursive-exclude tests *
recursive-exclude examples *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude docs *.rst makefile
