sphinx>=1.7.9
sphinx_rtd_theme>=0.4.0
sphinxcontrib-apidoc==0.3.0
bump2version>=1.0.1
build==0.7.0
twine>=3.0.0
pymysql>=1.0.2
psycopg2-binary>=2.9.3
redis>=4.1.2
pymongo>=4.0.2
bson>=0.5.10
cryptography>=36.0.2