# The main purpose of this file is to get notification from dependabot about new versions of libraries used in tutorials
flask[async]==2.3.2
psutil==5.9.5
telethon==1.29.1
fastapi==0.101.0
uvicorn==0.23.1
websockets==11.0.2
locust==2.16.1
streamlit==1.25.0
streamlit-chat==0.1.1