name: build_and_publish_docs

on: [push]

jobs:
  publish:
    name: build and publish docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: set up python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: install dependencies
        run: |
            apt install pandoc
            make venv

      - name: build documentation
        run: |
            make doc

      - name: remove jekyll theming
        run: touch docs/build/.nojekyll

      - name: deploy website
        if: github.ref == 'refs/heads/dev'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs/build/
          single-commit: True
