name: build_and_publish_docs

on:
  push:
    branches:
    - dev
    - master
    - test/**
  pull_request:
    branches:
    - dev
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/dev' && github.ref != 'refs/heads/master' }}

jobs:
  publish:
    name: build and publish docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Build images
        run: |
            make docker_up

      - uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: '3.1.6'

      - name: Create gdf_account.json
        uses: jsdaniell/create-json@v1.2.1
        with:
          name: "gdf_account.json"
          json: ${{ secrets.GDF_ACCOUNT_JSON }}

      - name: write realpath to env
        run: |
            echo "GDF_ACCOUNT_JSON=$(realpath ./gdf_account.json)" >> $GITHUB_ENV

      - name: install dependencies
        run: |
            make venv

      - name: build documentation
        env:
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_API_ID: ${{ secrets.TG_API_ID }}
          TG_API_HASH: ${{ secrets.TG_API_HASH }}
          TG_BOT_USERNAME: ${{ secrets.TG_BOT_USERNAME }}
          GDF_ACCOUNT_JSON: ${{ env.GDF_ACCOUNT_JSON }}
          HF_API_KEY: ${{ secrets.HF_API_KEY }}
        run: |
            make doc

      - name: remove jekyll theming
        run: touch docs/build/.nojekyll

      - name: save branch name without slashes
        if: ${{ github.ref != 'refs/heads/master' }}
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          BRANCH_NAME=${{ env.BRANCH_NAME }}
          BRANCH_NAME=${BRANCH_NAME////_}
          echo BRANCH_NAME=${BRANCH_NAME} >> $GITHUB_ENV

      - name: save artifact
        if: ${{ github.ref != 'refs/heads/master' }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ format('github-pages-for-branch-{0}', env.BRANCH_NAME) }}
          path: docs/build/
          retention-days: 3

      - name: deploy website
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs/build/
          single-commit: True
