name: test_coverage

on:
  push:
    branches:
    - dev
    - master
    - test/**
  pull_request:
    branches:
    - dev
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/dev' && github.ref != 'refs/heads/master' }}

jobs:
  test_coverage:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: set up python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: setup poetry and install dependencies
        run: |
          pip install --upgrade pip poetry
          poetry install --with test,tutorials --all-extras --no-ansi --no-interaction

      - name: run tests
        env:
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_API_ID: ${{ secrets.TG_API_ID }}
          TG_API_HASH: ${{ secrets.TG_API_HASH }}
          TG_BOT_USERNAME: ${{ secrets.TG_BOT_USERNAME }}
        run: |
          poetry run poe test_all
