name: test_coverage

on:
  push:
    branches:
    - dev
    - test/**
  pull_request:
    branches:
    - dev
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/dev' }}

jobs:
  test_coverage:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build images
        run: |
          docker-compose up -d

      - name: set up python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name:  build & install package
        run: |
          python -m pip install build
          python -m build
          find . -name "*.whl" -exec python -m pip install {}[test_full] ';'

      - name: clean environment
        run: |
          export backup_files=( tests tutorials .env_file makefile .coveragerc pytest.ini docs )
          mkdir /tmp/backup
          for i in "${backup_files[@]}" ; do mv "$i"  /tmp/backup ; done
          rm -rf ..?* .[!.]* *
          for i in "${backup_files[@]}" ; do mv  "/tmp/backup/$i"  .  ; done
          rm -rf /tmp/backup
          touch venv  # disable venv target

      - name: run tests
        env:
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_API_ID: ${{ secrets.TG_API_ID }}
          TG_API_HASH: ${{ secrets.TG_API_HASH }}
          TG_BOT_USERNAME: ${{ secrets.TG_BOT_USERNAME }}
        run: |
          make test TEST_ALLOW_SKIP=telegram
