name: test_full

on:
  push:
    branches:
    - dev
    - test/**
  pull_request:
    branches:
    - dev
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/dev' }}

jobs:
  test_full:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        os: [macOS-latest, windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Build images
        if: matrix.os == 'ubuntu-latest'
        run: |
          docker-compose up -d

      - name: set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[test_full]
        shell: bash

      - name: run pytest
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
              source <(cat .env_file | sed 's/=/=/' | sed 's/^/export /')
          fi
          pytest --tb=long -vv --cache-clear --no-cov tests/
        shell: bash
  test_no_deps:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2

      - name: Build images
        run: |
          docker-compose up -d

      - name: set up python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[tests]
        shell: bash

      - name: run pytest
        run: |
          source <(cat .env_file | sed 's/=/=/' | sed 's/^/export /')
          pytest --tb=long -vv --cache-clear --no-cov tests/
        shell: bash
